h1{
  color: maroon;
  text-align: center;
  font-style: Times;
  font-size: 24px;
}

h2{
  color: maroon;
  text-align: center;
  font-style: Times;
  font-size: 14px;
}

p.Intro{
  color: black;
  text-align: center;
  font-style: Candara;
  font-size: 14px;
}

p.content{
  color: black;
  text-align: left;
  font-style: candara;
  font-size: 14px;
}

ul{
  color: black;
  text-align: left;
  font-style: candara;
  font-size: 14px;
}
